<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <style>
        .funcSuccess {
            background-color: green;
        }
 
        .funcDelete {
            background-color: red;
        }
 
        .funcEdit {
            background-color: rosybrown;
        }
        .dontdisplay{
            display:none;
        }
        .input-block-level {
            display: block;
            width: 60%;
            min-height: 1px;
        }
        .input-block-level-btn {
            
            width: 36%;
            min-height: 1px;
        }
        .input-block-level-date {
            display: block;
            width: 70%;
            min-height: 1px;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2><%=companyName%> Employees List </h2>
        <table id="employee" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Disable</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
     
                <tr id="emptr1">
                    <td id="empName1">
                        <span id="empNametxt1">Abcd</span>
                        <input type="text" id="InputName1" class="input-block-level" style="display:none;" name="name">
                    </td>
                  
                    <td id="empEmail1">
                        <span id="empEmailtxt2">abc@gmail.com</span> 
                        <input type="text" id="InputEmail1" class="input-block-level" style="display:none;" name="email">
                    </td>

                    <td id="empPhoneNumber1">
                        <span id="empPhoneNumbertxt2">abc@gmail.com</span> 
                        <input type="text" id="InputPhoneNumber1" class="input-block-level" style="display:none;" name="phoneNumber">
                    </td>

                    <td id="empDisable1">
                        <span id="empDisabletxt2">abc@gmail.com</span> 
                        <input type="text" id="InputDisable1" class="input-block-level" style="display:none;" name="isDisable">
                    </td>
                  
                    <td id="empButton1">
                        <button id="UpdateBtn1" type="button" class="input-block-level-btn btn btn-xs btn-success " style="display:none;" onclick="UpdateFunc(1)">Update</button>
                        <button id="UndoDeleteBtn1" type="button"  class="btn btn-xs btn-secondary " onclick="UndoDelete(1)" style="display:none;background-color:red;color:white;" >Cancel</button>
         
                        <button id="UndoEditBtn1" type="button"  class="input-block-level-btn btn btn-xs btn-secondary " onclick="UndoEdit(1)" style="display:none;background-color:red;color:white;" >
                            Cancel
                        </button>
         
                        <button id="EditBtn1" onclick="EditFunc(1)">
                            <span class="glyphicon glyphicon-pencil">Edit</span>
                        </button>
                        <button id="DeleteBtn1" class="btn-link js-delete" onclick="DeleteFunc(1)">
                            <span class="glyphicon glyphicon-trash">Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

<script>
    function EditFunc(i) {
        document.getElementById("emptr" + i).style.backgroundColor = "green";
        document.getElementById("empButton" + i).style.backgroundColor = "white";
        document.getElementById("EditBtn" + i).style.display = "none";
        document.getElementById("DeleteBtn" + i).style.display = "none";
        document.getElementById("UpdateBtn" + i).style.display = "";
        document.getElementById("UndoEditBtn" + i).style.display = "";

        document.getElementById("InputName1" + i).value = document.getElementById("empNametxt1" + i).textContent;
        document.getElementById("empNametxt1" + i).style.display = "none";
        document.getElementById("InputName1" + i).style.display = "";

        document.getElementById("InputEmail1" + i).value = document.getElementById("empEmailtxt1" + i).textContent;
        document.getElementById("empEmailtxt1" + i).style.display = "none";
        document.getElementById("InputEmail1" + i).style.display = "";

        document.getElementById("InputPhoneNumber1" + i).value = document.getElementById("empPhoneNumbertxt1" + i).textContent;
        document.getElementById("empPhoneNumbertxt1" + i).style.display = "none";
        document.getElementById("InputPhoneNumber1" + i).style.display = "";

        document.getElementById("InputDisable1" + i).value = document.getElementById("empDisabletxt1" + i).textContent;
        document.getElementById("empDisabletxt1" + i).style.display = "none";
        document.getElementById("InputDisable1" + i).style.display = "";

}

    
function UpdateFunc(i) {
        //sari rows pehle ek bar compare kar agr same hai to database ko request ni jaygi
        var IOrigin = (document.getElementById("InpItdOrigin" + i).value).toUpperCase();
        var IDestination = (document.getElementById("InpItdDestination" + i).value).toUpperCase();
        var IDepartureDate = reformatDateString(document.getElementById("InpItdDepartureDate" + i).value);
        var IDepartureTime = document.getElementById("InpItdDepartureTime" + i).value;
        var IArrivalDate = reformatDateString(document.getElementById("InpItdArrivalDate" + i).value);
        var IArrivalTime = document.getElementById("InpItdArrivalTime" + i).value;
        if (IOrigin == "" || IDestination == "" || IDepartureDate == "" || IDepartureTime == "" || IArrivalDate == "" || IArrivalTime == "") {
            alert("Please fill all values");

        }
        else {


            var Origin = document.getElementById("txtOrigin" + i).textContent;
            var Destination = document.getElementById("txtDestination" + i).textContent;
            var DepartureDate = document.getElementById("txtDepartureDate" + i).textContent;
            var DepartureTime = document.getElementById("txtDepartureTime" + i).textContent;
            var ArrivalDate = document.getElementById("txtArrivalDate" + i).textContent;
            var ArrivalTime = document.getElementById("txtArrivalTime" + i).textContent;
            if (IOrigin == Origin && IDestination == Destination && IDepartureDate == DepartureDate && IDepartureTime == DepartureTime && IArrivalDate == ArrivalDate && IArrivalTime == ArrivalTime) {
                UndoEdit(i);
                alert("No Data Change");
            }
            else {

                var st = 0;


                var things = [
                    { id: 1, Item: "" + i },
                    { id: 2, Item: IOrigin },
                    { id: 3, Item: IDestination },
                    { id: 4, Item: IDepartureDate },
                    { id: 5, Item: IDepartureTime },
                    { id: 6, Item: IArrivalDate },
                    { id: 7, Item: IArrivalTime }
                ];

                var things = JSON.stringify({ 'things': things });
                var ms = "";

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    async: false,
                    url: '/Flights/UpdateData',
                    data: things,
                    success: function (data) {
                        ms = data.msg;
                        console.log(data.msg);
                    },

                });

                if (ms == "1") {
                    alert("data already present");
                    UndoEdit(i);
                }
                else {

                    var $el = $("#tr"+i),
                        x = 2000,
                        originalColor = $el.css("background");

                    $el.css("background", "green");
                    setTimeout(function () {
                        if (document.getElementById("tr" + i).style.background == "green") {
                            $el.css("background", "white");
                        }
                    }, x);
                 
                    document.getElementById("EditBtn" + i).style.display = "";
                    document.getElementById("DeleteBtn" + i).style.display = "";
                    document.getElementById("UpdateBtn" + i).style.display = "none";
                    document.getElementById("UndoEditBtn" + i).style.display = "none";

                    document.getElementById("txtOrigin" + i).textContent = IOrigin;
                    document.getElementById("txtOrigin" + i).style.display = "";
                    document.getElementById("InpItdOrigin" + i).style.display = "none";

                    document.getElementById("txtDestination" + i).textContent = IDestination;
                    document.getElementById("txtDestination" + i).style.display = "";
                    document.getElementById("InpItdDestination" + i).style.display = "none";

                    document.getElementById("txtDepartureDate" + i).textContent = IDepartureDate;
                    document.getElementById("txtDepartureDate" + i).style.display = "";
                    document.getElementById("InpItdDepartureDate" + i).style.display = "none";

                    document.getElementById("txtDepartureTime" + i).textContent = IDepartureTime;
                    document.getElementById("txtDepartureTime" + i).style.display = "";
                    document.getElementById("InpItdDepartureTime" + i).style.display = "none";


                    document.getElementById("txtArrivalDate" + i).textContent = IArrivalDate;
                    document.getElementById("txtArrivalDate" + i).style.display = "";
                    document.getElementById("InpItdArrivalDate" + i).style.display = "none";

                    document.getElementById("txtArrivalTime" + i).textContent = IArrivalTime;
                    document.getElementById("txtArrivalTime" + i).style.display = "";
                    document.getElementById("InpItdArrivalTime" + i).style.display = "none";

                }

                //agr different hai to jaygi



                //aur dekhenge ki agr database me kahi same aai
                //naito green krdenge 5 sec aur success
                //aur same to cannot be added same record already present
            }
        }
    }
    
</script>

</html>