<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <style>
        .funcSuccess {
            background-color: green;
        }
 
        .funcDelete {
            background-color: red;
        }
 
        .funcEdit {
            background-color: rosybrown;
        }
        .dontdisplay{
            display:none;
        }
        .input-block-level {
            display: block;
            width: 60%;
            min-height: 1px;
        }
        .input-block-level-btn {
            
            width: 36%;
            min-height: 1px;
        }
        .input-block-level-date {
            display: block;
            width: 70%;
            min-height: 1px;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2><%=companyName%> Employees List </h2>
        <table id="employee" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Disable</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
     
                <tr id="emp1">
                    <td id="empName1">
                        <span id="empNametxt1">Abcd</span>
                        <input type="text" id="InputName1" class="input-block-level" style="display:none;" name="name">
                    </td>
                  
                    <td id="empEmail1">
                        <span id="empEmailtxt2">abc@gmail.com</span> 
                        <input type="text" id="InputEmail1" class="input-block-level" style="display:none;" name="email">
                    </td>

                    <td id="empPhoneNumber1">
                        <span id="empPhoneNumbertxt2">abc@gmail.com</span> 
                        <input type="text" id="InputPhoneNumber1" class="input-block-level" style="display:none;" name="phoneNumber">
                    </td>

                    <td id="empDisable1">
                        <span id="empDisabletxt2">abc@gmail.com</span> 
                        <input type="text" id="InputDisable1" class="input-block-level" style="display:none;" name="isDisable">
                    </td>
                  
                    <td id="empButton1">
                        <button id="UpdateBtn1" type="button" class="input-block-level-btn btn btn-xs btn-success " style="display:none;" onclick="UpdateFunc(1)">Update</button>
                        <button id="UndoDeleteBtn1" type="button"  class="btn btn-xs btn-secondary " onclick="UndoDelete(1)" style="display:none;background-color:red;color:white;" >Cancel</button>
         
                        <button id="UndoEditBtn1" type="button"  class="input-block-level-btn btn btn-xs btn-secondary " onclick="UndoEdit(1)" style="display:none;background-color:red;color:white;" >
                            Cancel
                        </button>
         
                        <button id="EditBtn1" onclick="EditFunc(1)">
                            <span class="glyphicon glyphicon-pencil">Edit</span>
                        </button>
                        <button id="DeleteBtn1" class="btn-link js-delete" onclick="DeleteFunc(1)">
                            <span class="glyphicon glyphicon-trash">Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

<script>
    function EditFunc(i) {
        document.getElementById("tr" + i).style.backgroundColor = "yellow";
        document.getElementById("tdButtons" + i).style.backgroundColor = "white";
        document.getElementById("EditBtn" + i).style.display = "none";
        document.getElementById("DeleteBtn" + i).style.display = "none";
        document.getElementById("UpdateBtn" + i).style.display = "";
        document.getElementById("UndoEditBtn" + i).style.display = "";


document.getElementById("InpItdOrigin" + i).value = document.getElementById("txtOrigin" + i).textContent;
document.getElementById("txtOrigin" + i).style.display = "none";
document.getElementById("InpItdOrigin" + i).style.display = "";

document.getElementById("InpItdDestination" + i).value = document.getElementById("txtDestination" + i).textContent;
document.getElementById("txtDestination" + i).style.display = "none";
document.getElementById("InpItdDestination" + i).style.display = "";

document.getElementById("InpItdDepartureDate" + i).value = reformatDateString(document.getElementById("txtDepartureDate" + i).textContent);
document.getElementById("txtDepartureDate" + i).style.display = "none";
document.getElementById("InpItdDepartureDate" + i).style.display = "";

document.getElementById("InpItdDepartureTime" + i).value = document.getElementById("txtDepartureTime" + i).textContent;
document.getElementById("txtDepartureTime" + i).style.display = "none";
document.getElementById("InpItdDepartureTime" + i).style.display = "";

document.getElementById("InpItdArrivalDate" + i).value = reformatDateString(document.getElementById("txtArrivalDate" + i).textContent);
document.getElementById("txtArrivalDate" + i).style.display = "none";
document.getElementById("InpItdArrivalDate" + i).style.display = "";

document.getElementById("InpItdArrivalTime" + i).value = document.getElementById("txtArrivalTime" + i).textContent;
document.getElementById("txtArrivalTime" + i).style.display = "none";
document.getElementById("InpItdArrivalTime" + i).style.display = "";

}

</script>

</html>